.vs/
.vscode/

SteamCloudSave/bin/
SteamCloudSave/obj/
SteamCloudSave.Core/bin/
SteamCloudSave.Core/obj/
SteamCloudSave.Windows/bin/Build/
SteamCloudSave.Windows/bin/Debug/
SteamCloudSave.Windows/bin/Release/
SteamCloudSave.Windows/obj/
SteamCloudSave.DropboxExtension/bin/
SteamCloudSave.DropboxExtension/obj/
SteamCloudSave.GoogleDriveExtension/bin/
SteamCloudSave.GoogleDriveExtension/obj/
SteamCloudSave.OneDriveExtension/bin/
SteamCloudSave.OneDriveExtension/obj/

*.csproj.user
