.vs/
DarkSoulsCloudSave.Core/bin/
DarkSoulsCloudSave.Core/obj/
DarkSoulsCloudSave/bin/Build/
DarkSoulsCloudSave/bin/Debug/
DarkSoulsCloudSave/bin/Release/
DarkSoulsCloudSave/obj/
packages/
DarkSoulsCloudSave.DropboxExtension/bin/
DarkSoulsCloudSave.DropboxExtension/obj/
DarkSoulsCloudSave.GoogleDriveExtension/bin/
DarkSoulsCloudSave.GoogleDriveExtension/obj/
