.vs/
SteamCloudSave.Core/bin/
SteamCloudSave.Core/obj/
SteamCloudSave/bin/Build/
SteamCloudSave/bin/Debug/
SteamCloudSave/bin/Release/
SteamCloudSave/obj/
packages/
SteamCloudSave.DropboxExtension/bin/
SteamCloudSave.DropboxExtension/obj/
SteamCloudSave.GoogleDriveExtension/bin/
SteamCloudSave.GoogleDriveExtension/obj/
SteamCloudSave.OneDriveExtension/bin/
SteamCloudSave.OneDriveExtension/obj/
